name: Deploy to Sakura Server

on:
  push:
    branches:
      - main

jobs:
  ftp-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          port: 22
          protocol: sftp # ★ここをsftpに変更
          # さくらサーバーの絶対パスを指定（algo-incの部分はそのまま利用）
          server-dir: /home/algo-inc/www/anken/
          security: loose
